<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="loop" params="items:=^">
        <xacro:if value="${items}">
            <!-- pop first item from list -->
            <xacro:property name="item" value="${items.pop(0)}"/>

            <gazebo reference="${item}">
                <selfCollide>true</selfCollide>

                <material>
                    <ambient>.88 .88 .88 1</ambient>
                    <diffuse>.88 .88 .88 1</diffuse>
                    <specular>0 0 0 0</specular>
                    <emissive>0 0 0 1</emissive>
                </material>
            </gazebo>

            <!-- recursively call myself -->
            <xacro:loop/>
        </xacro:if>
    </xacro:macro>

    <!-- define the list of items to iterate -->
    <xacro:property name="items" value="${['base_link', 'torso_plate_link', 'right_torso_side_link', 'left_torso_side_link', 'shoulder_cross_link', 'biceps_link']}" />

    <xacro:loop items="${list(items)}"/>

</robot>